.awz-bp-modal-content-bg {position:fixed;top:0;left:0;width:100%;height:100%;background:#000000;opacity:0.85;
display:block;z-index: 10000;}
.awz-bp-modal-content-bg, .awz-bp-modal-content-bg:hover,
.awz-bp-close, .awz-bp-close:hover {cursor:pointer;}
.awz-bp-close {display:block;width:70px;height:68px;position:fixed;top:10px;right:10px;z-index:10002;
text-decoration: none;
    text-align:center;
}
.awz-bp-close div {
    cursor: pointer;
    position: relative;
    height: 68px;
    width: 70px;
}
.awz-bp-close .awz-bp-close-leftright {
    height: 4px;
    width: 50px;
    position: absolute;
    margin-top: 24px;
    background-color: red;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
    left: 10px;
}
.awz-bp-close .awz-bp-close-rightleft {
    height: 4px;
    width: 50px;
    position: absolute;
    margin-top: 24px;
    background-color: red;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
    left: 10px;
}
.awz-bp-close .awz-bp-close-close-btn {
    margin: 54px auto 0 auto;
    position: absolute;
    color: red;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .3s ease-in;
    opacity: 0;
    width: 100%;
    display: block;
    text-align:center;
}
.awz-bp-close div:hover .awz-bp-close-leftright {
    transform: rotate(-45deg);
    background-color: red;
}
.awz-bp-close div:hover .awz-bp-close-rightleft {
    transform: rotate(45deg);
    background-color: red;
}
.awz-bp-close div:hover .awz-bp-close-close-btn {
    opacity: 1;
}
.awz-bp-modal-content {display:block;position:fixed;z-index:10001;width:100%;height:100%;top:0;left:0;}
.awz-bp-modal-content-wrap {display:block;background:#ffffff;margin:auto;position:relative;}

.awz-bp-modal-header {display:block;padding:15px;background:red;color:#ffffff;font-size:18px;font-weight:bold;}
.awz-bp-map {width:100%;display:block;height:100%;}
.awz-bp-modal-body {width:100%;display:block;height:100%;position:relative;}

.awz-bp-modal-error {padding:20px 15px;display:block;font-size:16px;line-height:24px;color:red;}
.awz-bp-preload {display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:#ffffff;opacity:0.85;}
.awz-bp-load {display:block;width:50%;top:50%;margin:auto;margin-top:-20px;color:red;font-size:18px;position:relative;
text-align:center;
}
.awz-bp-contentWrap {height:100%;}

.awz-bp-close-mobile {right:0;top:0;background:#fffcc0;overflow:hidden;height:57px;}
.awz-bp-close-mobile  > div {margin-top:3px;}
.awz-bp-select-pvz {background: red;
    color: #ffffff;
    padding: 5px 10px;
    margin: 5px 0;
    display: inline-block;
text-decoration:none;
    border-radius: 3px;
}
.awz-bp-select-pvz:hover {color: #ffffff;}

.awz-bp-bln-wrap {padding:3px 0;}
.awz-bp-bln-wrap > div {padding:3px 0;margin:0;display:block;clear:both;}
.awz-bp-bln-pay span {    background: #ffdb4d;
    color: #000000;
    padding: 2px 5px;
    border-radius: 3px;
    display:inline-block;margin:2px 4px 2px 0;
font-weight:bold;}
.awz-bp-bln-graf span {background: #ededed;
    color: #000;
    padding: 2px 5px;
    border-radius: 3px;
    display:inline-block;margin:2px;margin-right: 3px;}

.awz-bp-modal-filter-payment-wrap {        display: block;
    position: absolute;
    bottom: 38px;
    /* right: 5px; */
    left: 0;
    padding: 0 5px;
    font-size: 14px;
}

.awz-bp-modal-filter-payment-wrap a {border-radius: 3px;
    background: #000000;
    opacity: 1;
    color: #ffffff;
    text-decoration: none;
    display: block;
    /* clear: both; */
    margin: 5px 0 5px 5px;
    padding: 3px 10px;
    text-align: center;
    float: left;}
.awz-bp-modal-filter-payment-wrap a:hover {color:#ffffff;opacity:1;}
.awz-bp-modal-filter-payment-wrap a.active {opacity:1;background:red;}
.awz-bp-modal-filter-payment-wrap a.active:hover {opacity:1;background:red;}
.awz-bp-modal-filter-payment-wrap a:after {content: "+";
    border-radius: 20px;
    background: red;
    padding: 3px;
    position: relative;
    right: -5px;
    width: 20px;
    display: block;
    float: right;
    line-height: 14px;
    font-size: 13px;}
.awz-bp-modal-filter-payment-wrap a.active:after {content: "x";
    border-radius: 20px;
    background: #000000;
    padding: 3px;
    position: relative;
    right: -5px;
    width: 20px;
    display: block;
    float: right;
    line-height: 14px;
    font-size: 13px;}